In [18]:
import pandas as pd
import varname

# Общий обзор:

In [19]:
df = pd.read_csv("main_data.csv")

In [20]:
df.columns

Index(['name', 'age', 'position', 'height', 'value', 'national_matches',
       'national_goals', 'matches20', 'goals20', 'assists20', 'yellow20',
       'double_yellows20', 'red20', 'matches21', 'goals21', 'assists21',
       'yellow21', 'double_yellows21', 'red21', 'matches22', 'goals22',
       'assists22', 'yellow22', 'double_yellows22', 'red22'],
      dtype='object')

In [21]:
df.isnull().sum ()

name                0
age                 0
position            0
height              0
value               0
national_matches    0
national_goals      0
matches20           0
goals20             0
assists20           0
yellow20            0
double_yellows20    0
red20               0
matches21           0
goals21             0
assists21           0
yellow21            0
double_yellows21    0
red21               0
matches22           0
goals22             0
assists22           0
yellow22            0
double_yellows22    0
red22               0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1260 non-null   object
 1   age               1260 non-null   int64
 2   position          1260 non-null   object
 3   height            1260 non-null   float64
 4   value             1260 non-null   float64
 5   national_matches  1260 non-null   int64
 6   national_goals    1260 non-null   int64
 7   matches20         1260 non-null   int64
 8   goals20           1260 non-null   int64
 9   assists20         1260 non-null   int64
 10  yellow20          1260 non-null   int64
 11  double_yellows20  1260 non-null   int64
 12  red20             1260 non-null   int64
 13  matches21         1260 non-null   int64
 14  goals21           1260 non-null   int64
 15  assists21         1260 non-null   int64
 16  yellow21          1260 non-null   int64
 17  double_yellows21  1260 non-null   int64
 18  red21             1260 non-null   int64
 19  matches22         1260 non-null   int64
 20  goals22           1260 non-null   int64
 21  assists22         1260 non-null   int64
 22  yellow22          1260 non-null   int64
 23  double_yellows22  1260 non-null   int64
 24  red22             1260 non-null   int64
dtypes: float64(2), int64(21), object(2)
memory usage: 246.2+ KB

In [23]:
df.describe()

,age,height,value,national_matches,national_goals,matches20,goals20,assists20,yellow20,double_yellows20,...,assists21,yellow21,double_yellows21,red21,matches22,goals22,assists22,yellow22,double_yellows22,red22
count,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,...,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000
mean,24.422222,1.788183,16735.932540,14.603175,2.743651,28.482540,4.445238,3.072222,3.423810,0.086508,...,3.528571,4.269048,0.103968,1.745238,34.352381,5.700794,3.870635,4.498413,0.098413,1.953175
std,4.654495,0.241860,23739.559785,21.625184,8.294241,13.165671,6.034006,3.659714,2.976701,0.295008,...,3.771046,3.187519,0.335105,7.710881,10.524058,6.726484,3.869384,3.220886,0.316098,8.342463
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,1.770000,1500.000000,1.000000,0.000000,20.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,2.000000,0.000000,0.000000,29.000000,1.000000,1.000000,2.000000,0.000000,0.000000
50%,25.000000,1.820000,4900.000000,6.000000,0.000000,31.000000,2.000000,2.000000,3.000000,0.000000,...,2.000000,4.000000,0.000000,0.000000,35.000000,3.000000,3.000000,4.000000,0.000000,0.000000
75%,27.000000,1.870000,25000.000000,18.250000,2.000000,38.000000,6.000000,5.000000,5.000000,0.000000,...,5.000000,6.000000,0.000000,0.000000,41.000000,8.000000,6.000000,6.000000,0.000000,0.000000
max,35.000000,2.030000,180000.000000,174.000000,102.000000,58.000000,48.000000,25.000000,15.000000,2.000000,...,26.000000,22.000000,4.000000,61.000000,59.000000,52.000000,31.000000,16.000000,2.000000,78.000000

In [24]:
(df == 0).sum()  # сколько нулевых значений в столбцах

name                   0
age                   21
position               0
height                21
value                 21
national_matches     258
national_goals       741
matches20             56
goals20              355
assists20            346
yellow20             266
double_yellows20    1156
red20               1089
matches21             11
goals21              265
assists21            260
yellow21             161
double_yellows21    1138
red21               1074
matches22              9
goals22              234
assists22            202
yellow22             124
double_yellows22    1143
red22               1059
dtype: int64

# Работа с выбросами / неверно собранными данными:

В сборе данных произошла ошибка, т.к. значение 0 для возраста, роста и стоимости игрока нереалистично.

In [25]:
df.query("age == 0 | value == 0 | height == 0")

,name,age,position,height,value,national_matches,national_goals,matches20,goals20,assists20,...,assists21,yellow21,double_yellows21,red21,matches22,goals22,assists22,yellow22,double_yellows22,red22
388,eliesse-ben-seghir,0,0,0.0,0.0,1,0,0,0,0,...,0,0,0,0,23,4,3,1,0,0
610,deniz-ertas,0,0,0.0,0.0,3,0,0,0,0,...,0,0,0,10,11,0,0,0,1,13
641,deniz-ertas,0,0,0.0,0.0,3,0,0,0,0,...,0,0,0,10,11,0,0,0,1,13
668,deniz-ertas,0,0,0.0,0.0,3,0,0,0,0,...,0,0,0,10,11,0,0,0,1,13
672,manchester-united,0,0,0.0,0.0,13,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,west-ham-united,0,0,0.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
674,west-ham-united,0,0,0.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
675,manchester-united,0,0,0.0,0.0,13,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
676,manchester-united,0,0,0.0,0.0,13,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
677,west-ham-united,0,0,0.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1096,maxim-dekker,0,0,0.0,0.0,2,0,5,2,0,...,3,1,0,0,29,3,0,1,0,0
1099,silvano-vos,0,0,0.0,0.0,2,0,3,0,0,...,0,1,0,0,39,4,4,6,0,0
1109,isaac-babadi,0,0,0.0,0.0,3,1,5,3,2,...,8,0,0,0,34,6,5,2,0,0
1113,kristian-hlynsson,0,0,0.0,0.0,6,1,11,4,2,...,6,0,0,0,37,11,9,0,0,1
1125,gabriel-misehouy,0,0,0.0,0.0,8,2,4,1,1,...,5,0,0,0,32,7,1,1,0,0
1137,mohamed-nassoh,0,0,0.0,0.0,0,0,7,1,1,...,3,2,0,0,35,6,8,6,0,0
1148,zico-buurmeester,0,0,0.0,0.0,0,0,22,0,2,...,1,3,0,0,34,5,4,2,0,0
1165,livano-comenencia,0,0,0.0,0.0,1,0,4,0,0,...,1,3,0,0,37,1,1,5,0,0
1195,emir-ortakaya,0,0,0.0,0.0,2,1,15,1,0,...,1,11,0,0,33,1,0,7,0,0
1234,onur-ulas,0,0,0.0,0.0,0,0,29,1,0,...,0,8,2,0,30,0,0,8,0,0
1237,demba-diallo,0,0,0.0,0.0,7,1,3,0,0,...,3,1,0,0,33,1,3,8,0,0

В датасете найден 21 игрок с подобной ошибкой. Т.к. данное количество мало по сравнению со всей выборкой, эти игроки удаляются из датасета.

In [26]:
new_df = df[~(df["value"] == 0)]  # удаление строк с нулевым значением стоимости, т.к. они не несут практического смысла

В сборе данных явно произошла ошибка, т.к. максимальное значение прямых красных карточек превосходит значение вторых желтых в несколько раз, что не сопоставимо с реальностью, т.к. вряд ли один и тот же футболист может в почти каждой игре(судя по количеству красных карточек) получать прямую красную, и почти никогда не получать за фолы желтые(хотя судь редко сразу удаляют игрока даже за грубые фолы). К тому же такого футболиста очень быстро перестали бы выпускать из за зашкаливающего количества красных(78). К примеру у одного из самых грубых игроков(по мнению экспертов) Рамоса 27 красных карточек за всю карьеру. Следовательно в данных есть как минимум один выброс.

In [27]:
new_df[new_df.red22 > 5].sort_values("red22")

,name,age,position,height,value,national_matches,national_goals,matches20,goals20,assists20,...,assists21,yellow21,double_yellows21,red21,matches22,goals22,assists22,yellow22,double_yellows22,red22
1108,fabian-de-keijzer,23,Goalkeeper,1.93,800.0,1,0,7,0,1,...,1,0,0,46,13,0,1,0,0,13
621,ersin-destanoglu,22,Goalkeeper,1.95,5000.0,0,0,37,0,2,...,6,0,0,55,11,0,0,0,0,14
936,etienne-green,22,Goalkeeper,1.91,3000.0,2,0,8,0,0,...,1,0,1,27,9,0,0,0,2,14
990,arthur-desmas,29,Goalkeeper,1.96,1500.0,0,0,36,0,1,...,0,0,0,35,31,0,2,0,0,16
558,sem-westerveld,20,Goalkeeper,1.90,500.0,0,0,5,0,0,...,2,0,0,30,13,0,1,0,0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,luiz-junior,22,Goalkeeper,1.92,4000.0,0,0,30,0,1,...,3,0,0,50,42,0,3,0,0,55
52,alisson,30,Goalkeeper,1.93,45000.0,61,0,42,1,1,...,0,0,0,41,47,0,1,0,0,59
1053,goncalo-tabuaco,22,Goalkeeper,1.88,550.0,1,0,21,0,3,...,3,0,1,33,36,0,3,0,0,60
595,ugurcan-cakir,27,Goalkeeper,1.91,12000.0,22,0,39,0,2,...,6,1,0,46,44,0,4,0,0,62
384,alban-lafont,24,Goalkeeper,1.96,20000.0,0,0,40,0,2,...,3,0,0,48,48,0,1,1,0,78

Действительно, 64 игрока, судя по собранным данным, получили красных карточек больше чем 5, что является нереалистичным значением.
(у них также нереалистичные показатели красных карточек других годов)

In [28]:
new_df[new_df.red22 < 5].red22.mean(), new_df[new_df.red22 < 5].red21.mean(), new_df[new_df.red22 < 5].red20.mean()

(0.12340425531914893, 0.1097872340425532, 0.09872340425531916)

Вместо нереалистичных значений красных карточек для каждого года подставляется ноль, т.к. среднее красных карточек по каждому году для остальной выборки без таких выбросов близко к нулю.Т.е. с высокой вероятностью футболист не получает за сезон прямых красных и это преобразование не отразится на качестве данных.

In [29]:
new_df.loc[new_df["red22"] > 5, "red20"] = 0
new_df.loc[new_df["red22"] > 5, "red21"] = 0
new_df.loc[new_df["red22"] > 5, "red22"] = 0

# Итог:

In [30]:
new_df.describe()

,age,height,value,national_matches,national_goals,matches20,goals20,assists20,yellow20,double_yellows20,...,assists21,yellow21,double_yellows21,red21,matches22,goals22,assists22,yellow22,double_yellows22,red22
count,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,...,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000,1239.000000
mean,24.836158,1.818491,17019.592413,14.783697,2.780468,28.878128,4.510089,3.117837,3.470541,0.087167,...,3.563358,4.317191,0.104116,0.104116,34.588378,5.757869,3.905569,4.536723,0.097659,0.117030
std,3.426795,0.065795,23838.932805,21.755842,8.358790,12.878536,6.062519,3.672453,2.971142,0.296160,...,3.781681,3.171504,0.333350,0.330918,10.264439,6.757116,3.876731,3.211963,0.315439,0.350433
min,17.000000,1.640000,75.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,1.770000,1650.000000,1.000000,0.000000,21.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,2.000000,0.000000,0.000000,29.000000,1.000000,1.000000,2.000000,0.000000,0.000000
50%,25.000000,1.820000,5000.000000,6.000000,0.000000,31.000000,2.000000,2.000000,3.000000,0.000000,...,2.000000,4.000000,0.000000,0.000000,35.000000,3.000000,3.000000,4.000000,0.000000,0.000000
75%,27.000000,1.870000,25000.000000,19.000000,2.000000,38.000000,6.000000,5.000000,5.000000,0.000000,...,5.000000,6.000000,0.000000,0.000000,41.000000,8.000000,6.000000,6.000000,0.000000,0.000000
max,35.000000,2.030000,180000.000000,174.000000,102.000000,58.000000,48.000000,25.000000,15.000000,2.000000,...,26.000000,22.000000,4.000000,2.000000,59.000000,52.000000,31.000000,16.000000,2.000000,2.000000

In [31]:
(new_df == 0).sum()

name                   0
age                    0
position               0
height                 0
value                  0
national_matches     255
national_goals       728
matches20             46
goals20              341
assists20            330
yellow20             249
double_yellows20    1136
red20               1126
matches21              5
goals21              254
assists21            248
yellow21             148
double_yellows21    1118
red21               1120
matches22              3
goals22              224
assists22            190
yellow22             114
double_yellows22    1125
red22               1106
dtype: int64

Данные после обработки выглядят разумно. Готовы к загрузке.

In [32]:
new_df.to_csv("new_data.csv", index=False)